<nav class="flex items-center justify-between flex-wrap bg-green-600 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <span class="font-semibold text-xl tracking-tight">Postings</span>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="lg:flex-grow">
      <a href="{{ (getx args :header.links/index) }}" class="mt-4 hover:text-white mr-4">Index</a>

    </div>

    {# start of right side #}
    <div>
      {% if (get args :auth.user/userslug) %}
      <span class="block mt-4 lg:inline-block lg:mt-0 mr-4">
        Welcome: <a href="{{ (getx args :auth.links/profile) }}" class="hover:text-white">{{ (getx args :auth.user/username) }}</a>
      </span>
      
      <form method="POST" action="{{ (getx args :auth.links/logout) }}" class="inline-block m-0">
        <button class="leading-relaxed text-sm px-4 py-2 leading-none text-black border-solid border-2 border-white hover:border-transparent hover:bg-white mt-4 lg:mt-0" type="submit">Log out</button>
        <input type="hidden" name="csrf-token" value="{{ (getx args :csrf-token) }}"/>
      </form>
      {% else %}
      <a href="{{ (getx args :auth.links/signup) }}" class="inline-block leading-relaxed px-4 py-2 border-solid border-2 border-white hover:bg-white mr-4">Signup</a>
      <a href="{{ (getx args :auth.links/login) }}" class="inline-block leading-relaxed px-4 py-2 border-solid border-2 border-white hover:bg-white">Log in</a>

      {% endif %}
      
    </div>
  </div>
</nav>
