<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Postings</title>
    {- (if (os/getenv "JANET_DEV_ENV")
    `<link href="/public/css/tailwind.min.css" rel="stylesheet">`
    
    `<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/tailwind.min.css" rel="stylesheet">`
    )-}
    <style>
      a { text-decoration: underline }
    </style>
  </head>
  <body class="bg-gray-500">
    {% (when-let [flash-info (get-in args [:flash :info])]
        (print `<div class="bg-blue-100 border border border-blue-500 text-blue-700 px-4 py-3 mb-4" role="alert">
          <p class="text-sm">` (escape flash-info) `</p>
        </div>`)

        )%}
    
    <div class="container mx-auto h-full flex justify-center items-center">
        
      <div class="w-1/3">
        <h1 class="m-6 text-center font-bold">Sign up to Postings</h1>
        {@include templates/_guest_login.html @}
        <div class="m-2 text-center">
          or create an account
        </div>
        <div class="border-teal p-8 border-t-12 bg-white mb-6">
            {{
            (when-let [errors (get args :errors)]
            (print `<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 my-4" role="alert">`)
            # errors is k,v but only show value
            (each value errors
            (print `<span class="block">Errors: ` (escape value) `</span>`)
            )
            (print `</div>`)
            )
            }}

          <form method="POST" action="{{ (getx args :signup.links/action) }}">
            <input type="hidden" name="csrf-token" value="{{ (getx args :csrf-token) }}"/>
            
            <div class="mb-4">
              {% (def error (get-in args [:errors :username])) %}
              <label class="font-bold block mb-2 {{ (when error `text-red-500`) }}" for="grid-username">
                Username
              </label>
              <input class="block w-full bg-white border border-grey-light hover:border-grey px-2 py-2 mb-4 {{ (when error `border-red-500`) }}" id="grid-username" type="text" name="username" value="{{ (get args :username) }}">
              {- (when error (string `<p class="text-red-500">` (escape error) `</p>`)) -}

            </div>
            
            <div class="mb-4">
              {% (def error (get-in args [:errors :password-one])) %}
              <label class="font-bold block mb-2 {{ (when error `text-red-500`) }}" for="grid-password-one">
                Password
              </label>
              <input class="block w-full bg-white border border-grey-light hover:border-grey px-2 py-2 mb-4 {{ (when error `border-red-500`) }}" id="grid-password-one" type="password" name="password-one">
              {- (when error (string `<p class="text-red-500">` (escape error) `</p>`)) -}
              <p class="text-gray-600">Pick a good one please. Also you'll need to remember it because we don't provide password recovery</p>
            </div>

            <div class="mb-4">
              {% (def error (get-in args [:errors :password-two])) %}
              <label class="font-bold block mb-2 {{ (when error `text-red-500`) }}" for="grid-password-two">
                Confirm Password
              </label>
              <input class="block w-full bg-white border border-grey-light hover:border-grey px-2 py-2 mb-4 {{ (when error `border-red-500`) }}" id="grid-password-two" type="password" name="password-two">
              {- (when error (string `<p class="text-red-500">` (escape error) `</p>`)) -}
              <p class="text-gray-600">Type the same password again</p>

            </div>

            <div class="flex items-center justify-between mt-8">
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mr-4 focus:shadow-outline" type="submit">
                Submit
              </button>
              <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="{{ (getx args :signup.links/cancel) }}">
                Cancel
              </a>

            </div>
          </form>
        </div>

        <div class="text-center">
          <p>Already signed up? <a class="font-bold" href="{{ (getx args :auth.links/login) }}">Login</a>
        </div>
      </div>
    </div>
    
    
  </body>
</html>
